@using AHD.Models

<div class="service-icon @(IsSelected ? "service-icon--selected" : "")">
    <div class="service-icon__image">
        <img src="@Service.ImageUrl" alt="@Service.Name" />
    </div>
    <p class="service-icon__label">@Service.Name</p>
</div>

@code {
    [Parameter, EditorRequired] public Service Service { get; set; }
    [Parameter] public bool IsSelected { get; set; }
}
