@page "/"

<HeroSection Title="Engineering and Automation Excellence" SubTitle="We provide specialized engineering solutions to optimize your business">
    <button class="hero__button">Learn More</button>
</HeroSection>
<ServicesSection />
<Banner ImageUrl="https://as1.ftcdn.net/v2/jpg/01/99/70/12/1000_F_199701235_wyCN4Xkis9kVbsC5EHipYb2ltRS8gLDT.jpg"
        Title="Alice Smith"
        SubTitle="Chief Executive Officer"
        Text="Alice has led the company to new heights with her innovative approach to business and customer relations." />
<ContactSection />

@* <section id="home" class="container home">
  <h1 class="heading">Welkom bij Anthony Huyghe Dakwerken</h1>
  <p class="text">Uw specialist in dakwerken en schrijnwerk in West-Vlaanderen. Kwaliteit en vakmanschap staan bij ons centraal.</p>

  <div class="services">
    <div class="service">
      <h3>Nieuwbouw Daken</h3>
      <img src="https://via.placeholder.com/300" alt="Nieuwbouw Daken">
    </div>
    <div class="service">
      <h3>Schrijnwerk</h3>
      <img src="https://via.placeholder.com/300" alt="Schrijnwerk">
    </div>
    <div class="service">
      <h3>Renovaties</h3>
      <img src="https://via.placeholder.com/300" alt="Renovaties">
    </div>
  </div>
</section>

<Realisationsv2></Realisationsv2>

<Contact></Contact> *@



