@page "/Realisations"

<HeroSection Title="Realisations" style="height:25vh !important"/>

<section class="realisations-section">
    @if (RealisationsList != null && RealisationsList.Count > 0)
    {
        foreach (Realisation realisation in RealisationsList)
        {
            <RealisationCard Realisation="realisation" />
        }
    }
</section>