@page "/services"
@using AHD.Pages.services

<section class="service-section">
    <Carousel TItem="Service" Items="services" OnSelect="@(service => SelectService(service.Id))">
        <ItemTemplate Context="service">
            <ServiceIcon Service="service" IsSelected="@IsSelected(service.Id)" />
        </ItemTemplate>
    </Carousel>

    <ServiceDetails Service="@selectedServiceDetails" />
</section>

@code {
    static int id = 1;

    private List<Service> services = new List<Service>
    {
        new Service(id++, "Dakwerken", "/images/construction.svg", "https://www.dakwerken-adviseur.be/wp-content/uploads/2017/10/dakwerken-1.jpg", "e dak speelt een belangrijke rol in de bescherming van je woning...", new List<Link>
        {
            new Link("Dakrenovatie", "/Dakwerken/frontend"),
            new Link("Dakisolatie", "/Dakwerken/backend"),
            new Link("Asbestverwijdering", "/Dakwerken/fullstack")
        }),new Service(id++, "Dakwerken", "/images/construction.svg", "https://www.dakwerken-adviseur.be/wp-content/", "e dak speelt een belangrijke rol in de bescherming van je woning...", new List<Link>
        {
            new Link("Dakrenovatie", "/Dakwerken/frontend"),
            new Link("Dakisolatie", "/Dakwerken/backend"),
            new Link("Asbestverwijdering", "/Dakwerken/fullstack")
        }),new Service(id++, "Dakwerken", "/images/construction.svg", "https://www.dakwerken-adviseur.be/wp-content/", "e dak speelt een belangrijke rol in de bescherming van je woning...", new List<Link>
        {
            new Link("Dakrenovatie", "/Dakwerken/frontend"),
            new Link("Dakisolatie", "/Dakwerken/backend"),
            new Link("Asbestverwijdering", "/Dakwerken/fullstack")
        }),new Service(id++, "Dakwerken", "/images/construction.svg", "https://www.dakwerken-adviseur.be/wp-content/uploads/2017/10/dakwerken-1.jpg", "e dak speelt een belangrijke rol in de bescherming van je woning...", new List<Link>
        {
            new Link("Dakrenovatie", "/Dakwerken/frontend"),
            new Link("Dakisolatie", "/Dakwerken/backend"),
            new Link("Asbestverwijdering", "/Dakwerken/fullstack")
        }),new Service(id++, "Dakwerken", "/images/construction.svg", "https://www.dakwerken-adviseur.be/wp-content/uploads/2017/10/dakwerken-1.jpg", "e dak speelt een belangrijke rol in de bescherming van je woning...", new List<Link>
        {
            new Link("Dakrenovatie", "/Dakwerken/frontend"),
            new Link("Dakisolatie", "/Dakwerken/backend"),
            new Link("Asbestverwijdering", "/Dakwerken/fullstack")
        }),new Service(id++, "Dakwerken", "/images/construction.svg", "https://www.dakwerken-adviseur.be/wp-content/uploads/2017/10/dakwerken-1.jpg", "e dak speelt een belangrijke rol in de bescherming van je woning...", new List<Link>
        {
            new Link("Dakrenovatie", "/Dakwerken/frontend"),
            new Link("Dakisolatie", "/Dakwerken/backend"),
            new Link("Asbestverwijdering", "/Dakwerken/fullstack")
        }),new Service(id++, "Dakwerken", "/images/construction.svg", "https://www.dakwerken-adviseur.be/wp-content/uploads/2017/10/dakwerken-1.jpg", "e dak speelt een belangrijke rol in de bescherming van je woning...", new List<Link>
        {
            new Link("Dakrenovatie", "/Dakwerken/frontend"),
            new Link("Dakisolatie", "/Dakwerken/backend"),
            new Link("Asbestverwijdering", "/Dakwerken/fullstack")
        }),new Service(id++, "Dakwerken", "/images/construction.svg", "https://www.dakwerken-adviseur.be/wp-content/uploads/2017/10/dakwerken-1.jpg", "e dak speelt een belangrijke rol in de bescherming van je woning...", new List<Link>
        {
            new Link("Dakrenovatie", "/Dakwerken/frontend"),
            new Link("Dakisolatie", "/Dakwerken/backend"),
            new Link("Asbestverwijdering", "/Dakwerken/fullstack")
        }),new Service(id++, "Dakwerken", "/images/construction.svg", "https://www.dakwerken-adviseur.be/wp-content/uploads/2017/10/dakwerken-1.jpg", "e dak speelt een belangrijke rol in de bescherming van je woning...", new List<Link>
        {
            new Link("Dakrenovatie", "/Dakwerken/frontend"),
            new Link("Dakisolatie", "/Dakwerken/backend"),
            new Link("Asbestverwijdering", "/Dakwerken/fullstack")
        }),new Service(id++, "Dakwerken", "/images/construction.svg", "https://www.dakwerken-adviseur.be/wp-content/uploads/2017/10/dakwerken-1.jpg", "e dak speelt een belangrijke rol in de bescherming van je woning...", new List<Link>
        {
            new Link("Dakrenovatie", "/Dakwerken/frontend"),
            new Link("Dakisolatie", "/Dakwerken/backend"),
            new Link("Asbestverwijdering", "/Dakwerken/fullstack")
        }),new Service(id++, "Dakwerken", "/images/construction.svg", "https://www.dakwerken-adviseur.be/wp-content/uploads/2017/10/dakwerken-1.jpg", "e dak speelt een belangrijke rol in de bescherming van je woning...", new List<Link>
        {
            new Link("Dakrenovatie", "/Dakwerken/frontend"),
            new Link("Dakisolatie", "/Dakwerken/backend"),
            new Link("Asbestverwijdering", "/Dakwerken/fullstack")
        })
    };

    private Service selectedServiceDetails;
    private int selectedServiceId = 1;

    protected override void OnInitialized()
    {
        SelectService(selectedServiceId);
    }

    private void SelectService(int serviceId)
    {
        selectedServiceId = serviceId;
        selectedServiceDetails = services?.FirstOrDefault(s => s.Id == serviceId);
    }

    private bool IsSelected(int serviceId) => serviceId == selectedServiceId;
}
