@typeparam TItem

<div class="container">
    @if (Items != null && Items.Count > 1)
    {
        <div class="scroll-arrows">
            <button class="arrow" @onclick="ScrollLeft" aria-label="Scroll Left" tabindex="0">
                <img src="/images/chevron_left.svg" alt="Scroll left" />
            </button>
        </div>
    }

    <div class="services__list" @ref="carouselListRef">
        @foreach (var item in Items)
        {
            <div @onclick="@(() => SelectItem(item))">
                @ItemTemplate(item)
            </div>
        }
    </div>

    @if (Items != null && Items.Count > 1)
    {
        <div class="scroll-arrows">
            <button class="arrow" @onclick="ScrollRight" aria-label="Scroll Right" tabindex="0">
                <img src="/images/chevron_right.svg" alt="Scroll right" />
            </button>
        </div>
    }
</div>

@if (Items != null && Items.Count > 1)
{
    <div class="carousel__indicators">
        @for (int i = 0; i < Items.Count; i++)
        {
            var index = i;
            <button class="indicator @(index == activeIndex ? "active" : "")" @onclick="() => ScrollToIndex(index)" aria-label="Scroll to item @index"></button>
        }
    </div>
}
